---
import ButtonWheat from "../components/atoms/ButtonWheat.astro"
import LanguageItem from "../components/atoms/LanguageItem.astro"
import EducationCard from "../components/molecules/EducationCard.astro"
import ButtonGhost from "../components/atoms/ButtonGhost.astro"
import ExperienceCard from "../components/molecules/ExperienceCard.astro"
import ProjectCard from "../components/molecules/ProjectCard.astro"
import Social from "../components/molecules/Social.astro"
import Hero from "../components/organisms/Hero.astro"
import Section from "../components/organisms/Section.astro"
import BentoCard from "../components/molecules/BentoCard.astro"
import Layout from "../layouts/Layout.astro"

interface Frontmatter {
  title: string
  imgSrc: string
  type: string
  description: string
  href: string
  gitHub?: string
  web?: string
}

const projects = await Astro.glob<Frontmatter>("./projects/*.mdx")
console.log(projects)
---

<Layout title="rafanco">
  <Hero>
    <img
      class="logo-memoji"
      src="src/assets/images/memoji.PNG"
      alt="memoji de rafael"
    />
    <h1>Rafael Díaz</h1>
    <p class="text-center">
      Soy la persona que necesitas para el proyecto que tienes en mente.
    </p>
    <Social />
    <div class="cta-container">
      <ButtonWheat href="">Contactar</ButtonWheat>
      <ButtonGhost href="#sobre-mi">Sobre mí</ButtonGhost>
    </div>
  </Hero>
  <Section title="Proyectos" id="proyectos">
    <div class="card-wrapper-2col">
      {
        projects.map((projects) => (
          <ProjectCard
            title={projects.frontmatter.title}
            imgSrc={projects.frontmatter.imgSrc}
            type={projects.frontmatter.type}
            href={"/projects/" + projects.frontmatter.href}
            gitHub={projects.frontmatter.gitHub}
            web={projects.frontmatter.web}
          >
            {projects.frontmatter.description}
          </ProjectCard>
        ))
      }
    </div>
  </Section>
  <Section title="Experiencia" id="experiencia">
    <div class="card-wrapper-column">
      <ExperienceCard
        employer="Viña Viva"
        date="15/12/2022 - 1/9/2023"
        role="Desarrollador Web"
      >
        Investigación UX y desarrollo de un sitio web para Viña Viva. Asociación
        para la defensa del patrimonio vitivinícola, en la región del Condado de
        Huelva.
      </ExperienceCard>
      <ExperienceCard
        employer="Geserisk"
        date="15/6/2022 - 15/12/2022"
        role="Analista de ciberseguridad"
      >
        Implementación y despliegue de servidores NGINX. Asistencia informática
        HelpDesk. Informar sobre las alertas de seguridad. Configuración del
        firewall Fortinet. Instalación y mantenimiento de equipos informáticos.
      </ExperienceCard>
      <ExperienceCard
        employer="FitnessAlvaro"
        date="20/6/2018 - 30/9/2018"
        role="Gestor de información para redes sociales"
      >
        Creacíon de vídeos para redes sociales y publicaciones. Grabación y
        edición de vídeos para Youtube. Edición de audio. Creación de gráficos
        en movimiento necesarios para vídeos, como cuentas atrás o encabezados
        de vídeo. Diseño y creación de miniaturas para vídeos. Uso de programas
        de Adobe.
      </ExperienceCard>
    </div>
  </Section>
  <Section title="Sobre mí" id="sobre-mi">
    <div class="card-wrapper-bento">
      <BentoCard title="Educación" xStart="1" xEnd="3" yStart="1" yEnd="3"
      ><div class="card-wrapper-column">
          <EducationCard
            institution="Google Coursera Certificates"
            date="25/8/2023 - Actualmente"
            title="Google UX "
          />
          <EducationCard
            institution="Universidad de Tesalia, Grecia"
            date="11/9/2021 - 8/6/2022"
            title="Erasmus + Computer engineering"
          />
          <EducationCard
            institution="ETSII, Universidad de Sevilla, España"
            date="22/9/2017 - 17/7/2023"
            title="Ingeniería del Software"
          />
        </div>
      </BentoCard>
      <BentoCard title="Habilidades" xStart="3" xEnd="4" yStart="1" yEnd="2"
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores,
        mollitia.
      </BentoCard>
      <BentoCard title="Experiencias" xStart="3" xEnd="4" yStart="2" yEnd="4"
      >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores,
        mollitia.
      </BentoCard>
      <BentoCard title="Idiomas" xStart="1" xEnd="3" yStart="3" yEnd="4"
      ><div class="card-wrapper-row-space-around">
          <LanguageItem language="Español" level="Nativo" />
          <LanguageItem language="Inglés" level="Aptis C" />
          <LanguageItem language="Alemán" level="A1" />
        </div>
      </BentoCard>
    </div>
  </Section>

  <style>
    .logo-memoji {
      width: 150px;
      height: auto;
    }
    .cta-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 8px;
    }
    .card-wrapper-column {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .card-wrapper-row {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
    .card-wrapper-row-space-around {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 16px;
    }
    .card-wrapper-2col {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
    }
    .card-wrapper-bento {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, auto);
      justify-items: stretch;
      align-items: stretch;
      grid-gap: 16px;
    }
    /* Media query para dispositivos móviles */
    @media (max-width: 767px) {
      .card-wrapper-2col {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
      }
      .card-wrapper-bento {
        display: flex;
        flex-direction: column;
      }
    }
  </style>
</Layout>
