---
import Github from "../icons/Github.astro"
import Web from "../icons/Web.astro"
import ButtonTransparent from "../atoms/ButtonTransparent.astro"

interface Props {
  title: string
  imgSrc: string
  type: string
  href: string
  gitHub?: string
  web?: string
}
const { title, imgSrc, type, href, gitHub, web } = Astro.props
---

<article>
  <a href={href}>
    <img src={imgSrc} alt={"Captura de la web" + title} />
    <h3>{title}</h3>
    <p class="text-opacity-80 text-bold">{type}</p>
    <p class="text-opacity-80">
      <slot />
    </p>
  </a>
  {
    (gitHub || web) && (
      <footer>
        {gitHub && (
          <ButtonTransparent href={gitHub}>
            <Github />
            Github
          </ButtonTransparent>
        )}

        {web && (
          <ButtonTransparent href={web}>
            <Web />
            Web
          </ButtonTransparent>
        )}
      </footer>
    )
  }
</article>

<style>
  article {
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: var(--gray-medium);
    border-radius: 32px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
  article:hover {
    background-color: var(--gray-light);
  }
  a {
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
    gap: 8px;
  }
  img {
    aspect-ratio: auto 3/2;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 16px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  }
  footer {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 8px;
  }
</style>
