---
import "../styles/global.css"
import Footer from "../components/organisms/Footer.astro"
import BackButton from "../components/atoms/BackButton.astro"
import ButtonTransparent from "../components/atoms/ButtonTransparent.astro"

const { frontmatter } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <header>
      <BackButton href="/#proyectos">Atrás</BackButton>
      <h1>{frontmatter.title}</h1>
    </header>
    <main>
      <img class="cover" src={frontmatter.imgSrc} alt="Portada" />
      {
        frontmatter.medium && (
          <div class="button-wrapper">
            <ButtonTransparent href={frontmatter.medium}>
              Medium
            </ButtonTransparent>
          </div>
        )
      }
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style>
  body {
    gap: 0px;
  }

  header {
    width: 960px;
    grid-area: header;
    position: sticky;
    top: 0px;
    bottom: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin: 0px auto 0px auto;
    padding: var(--card-padding);
    background-color: var(--gray-dark-transparent);
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    border-bottom: 2px solid var(--gray-light);
  }

  main {
    grid-area: main;
    width: 960px;
    display: flex;
    gap: 32px;
    align-items: stretch;
    padding: 0px var(--card-padding) 0px var(--card-padding);
    margin: 32px auto;
  }

  .cover {
    aspect-ratio: auto 3/2;
    width: 100%;
    border-radius: 16px;
  }

  .button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  /* Media query para tablets */
  @media (min-width: 768px) and (max-width: 1023px) {
    header,
    main {
      width: 768px;
    }
  }

  /* Media query para dispositivos móviles */
  @media (max-width: 767px) {
    header,
    main {
      width: 360px;
    }

    main {
      margin: 16px auto 32px auto;
    }
    h1 {
      font-size: 24px;
      font-weight: 600;
      line-height: 1.25em;
      letter-spacing: 0.05em;
      margin: 0px;
    }
  }
</style>
